@font-face {
  font-family: 'CentraleSans';
  src: url('CentraleSans-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-BoldItalic.svg#229bc988ba600d5efed93c68af43633e') format('svg'); /* Legacy iOS */
       

    font-style:   cursive;
  font-weight:  700;
}

