html, body {
	min-width: 1024px;
}
p{
text-align: left!important;
}

#p-header {
	min-width:1024px !important;
}
#p-body-wrapper {
	width:100% !important;
	background:none !important;
}
#p-body-innerwrapper {
	width:100% !important;
	background:none !important;
	padding:0px !important;
}
#p-body-bottomwrapper {
	display:none;
}
#p-body-content {
	width:100% !important;
}
#p-footer {
	min-width:1024px !important;
	background-color:#FFF;
	padding:30px 0px;
}
#led-vision {
	position:relative;
	width:100%;
	min-width:1024px;
	padding:20px 0px;
	margin-top:-9px;
	background-color:#FFF;
	clear:both;
}
#led-vision .key-visual {
	position:relative;
	width:960px;
	margin:0 auto;
	margin-bottom:80px;
	clear:both;
}
#led-vision .key-visual .title{
	position:absolute;
	top:0px;
	left:0px;
	margin:100px 35px;
}
#led-vision .key-visual .title h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:40px;
	font-weight:normal;
	color:#fff;
	padding:0px;
	margin-bottom:15px;
}
#led-vision .key-visual .title p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:22px;
	color:#fff;
	margin-bottom:15px;

}
#led-vision .holder {
	position:relative;
	width:960px;
	margin:0 auto;
	margin-bottom:75px;
	clear:both;
}
#led-vision .holder .left{
	position:relative;
	width:445px;
	padding-right:25px;
	display:inline-block;
	vertical-align:top;
}
#led-vision .holder .left h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:32px;
	font-weight:normal;
	color:#0b5ed7;
	padding:0px;
	margin-bottom:50px;
}
#led-vision .holder .left p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:12px;
	color:#535353;
	line-height:18px;
	margin-bottom:20px;
}
#led-vision .holder .right{
	position:relative;
	width:484px;
	display:inline-block;
	vertical-align:top;
}
#led-vision .warranty {
	position:relative;
	margin-top:40px;
	clear:both;
}
#led-vision .warranty img{
	display:inline-block;
	vertical-align:middle;
}
#led-vision .holder .left .warranty p{
	width:75%;
	margin-left:15px;
	display:inline-block;
	vertical-align:middle;
	color:#000;
}
#led-vision .warranty p strong{
	color:#0b5ed7;
	margin:5px 0px;
	display:block;
}
#led-vision .warranty a{
	color:#0066a1;
}
#led-vision .warranty a:hover{
	text-decoration:underline;
}
#led-vision .tag-content {
	position:relative;
	margin-bottom:100px;
	clear:both;
}
#led-vision .tag-content .tag{
	position:relative;
	width:100%;
	height:80px;
	text-align:center;
	font-size:0px;
	clear:both;
}
#led-vision .tag-content .tag .space{
  position: relative;
  display: inline-block;
  width: 32px;
  line-height: 80px;
  background-color: #0089c4;
  vertical-align: top;
  opacity:.8;
}

#led-vision .tag-content .tag a{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:20px;
	position:relative;
	display:inline-block;
	width:240px;
	line-height:80px;
	/*border-left:solid 1px #0089c4;
	border-right:solid 1px #0089c4;*/
	background-color:#0089c4;
	/*margin-left:-1px;*/
	vertical-align:top;
	opacity:.8;
	color:#fff;
	
}
#led-vision .tag-content .tag a .over{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#led-vision .tag-content .tag a:hover,
#led-vision .tag-content .tag a.on{
	color:#0089c4;
	border-color:#fff;
	background-color:#fff;
	text-decoration:none;
	
}
#led-vision .tag-content .tag a:hover .over,
#led-vision .tag-content .tag a.on .over{
	display:block;
}
#led-vision .tag-content .content{
	position:relative;
	display:none;
	clear:both;
}
#led-vision .tag-content .content .visual{
	position:relative;
	width:100%;
	max-width:1024px;
	margin:0 auto;
	padding-top:35px;
	background-color:#0089c4;
	text-align:center;
	margin-bottom:55px;
	opacity:.8;
}
#led-vision .tag-content .content .visual .title{
	position:absolute;
	bottom:0px;
	left:0px;
	margin:25px 70px;
	text-align:left;
}
#led-vision .tag-content .content .visual .title h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:40px;
	font-weight:normal;
	color:#fff;
	padding:0px;
	margin-bottom:5px;
}
#led-vision .tag-content .content .visual .title p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:22px;
	color:#fff;
	margin-bottom:10px;
	line-height:30px;
}
#led-vision .tag-content .content .visual .title a{
	color:#fff;
}
#led-vision .tag-content .content .visual .title a:hover{
	text-decoration:underline;
}
#led-vision .tag-content .content .visual .title a:after {
	content: "\203a";
	display: inline-block;
	font-family: centrale_sans_xbold,tahoma,arial,helvetica,sans-serif;
	overflow: hidden;
	vertical-align: top;
	margin-left: 5px;
}
#led-vision .tag-content .content .txt{
	position:relative;
	width:960px;
	margin:0 auto;
	clear:both;
}
#led-vision .tag-content .content .txt .left{
	display:inline-block;
	vertical-align:top;
}
#led-vision .tag-content .content .txt .right{
	width:285px;
	display:inline-block;
	vertical-align:top;
	margin-left:35px;
}
#led-vision .tag-content .content .txt p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:12px;
	color:#252525;
	margin-bottom:20px;
	line-height:22px;
}
#led-vision .tag-content .content .txt .left2{
	width:330px;
	display:inline-block;
	vertical-align:top;
	margin-right:25px;
}
#led-vision .tag-content .content .txt .right2{
	width:600px;
	display:inline-block;
	vertical-align:top;
}
#led-vision .tag-content .content .txt table tr td{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:14px;
	color:#0b5ed7;
	/*text-align:center;
	vertical-align:middle;*/
	padding:5px;
}
#led-vision .tag-content .content .txt table tr td.head{
	text-align:right;
}
#led-vision .tag-content .content .txt table tr td p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:12px;
	color:#0b5ed7;
	display:inline-block;
	margin-bottom:0px;
	vertical-align:middle;
}
#led-vision .tag-content .content .txt table tr td img{
	display:inline-block;
	vertical-align:middle;
}
#led-vision .tag-content .content .txt .left3{
	width:450px;
	display:inline-block;
	vertical-align:top;
	margin-right:40px;
}
#led-vision .tag-content .content .txt .left3 ol{
	margin-left:15px;
	margin-bottom:30px;
	color:#000;
	list-style: decimal outside;
}
#led-vision .tag-content .content .txt .left3 ol li{
	margin-bottom:20px;
}
#led-vision .tag-content .content .txt .right3{
	width:425px;
	height:145px;
	padding:25px 20px;
	display:inline-block;
	vertical-align:top;
	background-image:url(../images/blue_bg.jpg);
}
#led-vision .tag-content .content .txt .right3 h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:18px;
	font-weight:normal;
	color:#FFF;
	padding:0px;
	margin-bottom:15px;
}
#led-vision .tag-content .content .txt .right3 p{
	color:#FFF;
	line-height:25px;
	margin-bottom:15px;
}
#led-vision .tag-content .content .txt .right3 a.link{
	color:#0b5ed7;
}
#led-vision .tag-content .content .txt .right3 a.link:after{
	content: "\203a";
	display: inline-block;
	font-family: centrale_sans_xbold,tahoma,arial,helvetica,sans-serif;
	height: 16px;
	overflow: hidden;
	vertical-align: top;
	margin-left: 5px;
}
#led-vision .tag-content .content .txt .right3 a.link:hover{
	text-decoration:underline;
}
#led-vision .tag-content .content .txt .clear-line{
	position:relative;
	border-bottom:solid 1px #CCC;
	margin:30px 0px;
	clear:both;
}
#led-vision .tag-content .content .txt h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:18px;
	font-weight:normal;
	color:#0b5ed7;
	padding:0px;
	margin-bottom:20px;
}
#led-vision .key-benefits {
	position:relative;
	width:960px;
	margin:0 auto;
	text-align:center;
	background-image:url(../images/line.jpg);
	background-position:center bottom;
	background-repeat:no-repeat;
	padding-bottom:40px;
	font-size:0px;
	clear:both;
}
#led-vision .key-benefits .key-block{
	position:relative;
	width:220px;
	margin:0px 10px;
	margin-bottom:40px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
#led-vision .key-benefits .key-block img{
	width:100%;
	margin-bottom:5px;
}
#led-vision .key-benefits .key-block h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:14px;
	font-weight:normal;
	color:#0b5ed7;
	height:40px;
	padding:0px;
	/*text-align:center;*/
	text-align: left!important;
}
#led-vision .key-benefits .key-block p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:13px;
	color:#252525;
	line-height:22px;
	margin-top:15px;
}
#led-vision .key-benefits .key-block a{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:12px;
	color:#0066a1;
	line-height:18px;
}
#led-vision .key-benefits .key-block a:hover{
	text-decoration:underline;
}
#led-vision .key-benefits .key-block a:after{
	content: "\203a";
	display: inline-block;
	font-family: centrale_sans_xbold,tahoma,arial,helvetica,sans-serif;
	height: 16px;
	overflow: hidden;
	vertical-align: top;
	margin-left: 5px;
}
#led-vision .bottom-row {
	position:relative;
	width:960px;
	font-size:0px;
	margin:0 auto;
	margin-bottom:40px;
	text-align:center;
	clear:both;
}
#led-vision .bottom-row h1{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:32px;
	font-weight:normal;
	color:#5d6777;
	padding:0px;
	/*text-align:center;*/
	text-align: left!important;
	margin-bottom:35px;
	line-height:40px;
}
#led-vision .bottom-row .bottom-block{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0px 2px;
	text-align:left;
}
#led-vision .bottom-row .bottom-block img{
	display:inline-block;
	vertical-align:top;
}
#led-vision .bottom-row .bottom-block p{
	font-family:centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size:10px;
	color:#252525;
	line-height:18px;
	display:inline-block;
	vertical-align:top;
	margin-top:25px;
	margin-left:15px;
}



.key-visual {
	position: absolute;
	min-width: 1024px;
	width: 100%;
	left: 0;
}
.key-visual>img {
	width: 100%;
}
#phi-header-content .title h1 {
	font-family: centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size: 40px;
	font-weight: normal;
	color: #fff;
	padding: 0px;
	margin-bottom: 15px;
}
#phi-header-content .title p {
	font-family: centrale_sans, Meiryo, メイリオ, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, MS Gothic, MS Pゴシック !important;
	font-size: 22px;
	color: #fff;
	margin-bottom: 15px;
}
#phi-header-content .title {
	position: absolute;
	top: 300px;
	left: 5%;
}
.dl_btn {
    background: url('../images/btn-download-regular.jpg');
	width: 146px;
	height: 36px;
	background-repeat: no-repeat;
	border-radius: 6px;
}
.dl_btn:hover {
    background: url('../images/btn-download-over.jpg');. 
	width: 146px;
	height: 36px;
	background-repeat: no-repeat;
	border-radius: 6px;
}
.dl_btn:ACTIVE {
    background: url('../images/btn-download-down.jpg');. 
	width: 146px;
	height: 36px;
	background-repeat: no-repeat;
	border-radius: 6px;
}

.p-comp-spacing-bottom {padding-bottom: 0;}

.p-gc02-container{margin:0 auto;letter-spacing:0;word-spacing:0;font-size:0}
.p-gc02-container .p-wrapper{max-width:960px;margin:0 auto;background-position:top center;background-repeat:no-repeat}
.p-gc02-container .p-wrapper.p-full-bleed{max-width:100%}
.p-gc02-container .p-wrapper .p-component-wrapper{max-width:960px;margin:0 auto}
.p-f02-global-footer,.tbd01-genericnavigation{background-color:#f7f7f9}
.p-f02-global-footer a,.tbd01-genericnavigation a{font-weight:bold}
.p-f02-global-footer a:hover,.tbd01-genericnavigation a:hover{text-decoration:underline}
.p-f02-global-footer .p-main-footer,.tbd01-genericnavigation .p-main-footer{padding-bottom:38px;padding-bottom:3.8rem;padding-top:20px;padding-top:2rem;border-top:1px solid #ccc}
.p-f02-global-footer .p-f02-global-footer,.tbd01-genericnavigation .p-f02-global-footer{display:none}
.p-f02-global-footer .p-main-footer-language,.tbd01-genericnavigation .p-main-footer-language{*zoom:1;width:100%;text-align:center;margin:3px 0 15px 0;margin:.3rem 0rem 1.5rem 0rem;margin-left:auto;margin-right:auto}
.p-f02-global-footer .p-main-footer-language:before,.tbd01-genericnavigation .p-main-footer-language:before,.p-f02-global-footer .p-main-footer-language:after,.tbd01-genericnavigation .p-main-footer-language:after{content:" ";display:table}
.p-f02-global-footer .p-main-footer-language:after,.tbd01-genericnavigation .p-main-footer-language:after{clear:both}
.p-f02-global-footer .p-main-footer-language output,.tbd01-genericnavigation .p-main-footer-language output{display:block;color:#252f47;font-size:16px;font-size:1.6rem}
.p-f02-global-footer .p-main-footer-language .p-link-more,.tbd01-genericnavigation .p-main-footer-language .p-link-more{width:auto;font-size:16px;font-size:1.6rem;border:0;background-color:transparent;color:#0b5ed7;float:none;padding:0 5px 0 0;padding:0rem .5rem 0rem 0rem}
.p-f02-global-footer .p-main-footer-language .p-link-more.p-link-more-triangle-down:after,.tbd01-genericnavigation .p-main-footer-language .p-link-more.p-link-more-triangle-down:after{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
.p-f02-global-footer .p-icon-earth,.tbd01-genericnavigation .p-icon-earth{color:#0e5fd8;font-size:13px;font-size:1.3rem;margin-left:9px;margin-left:.9rem;margin-right:2px;margin-right:.2rem;position:relative;top:-2px;top:-0.2rem}
.p-f02-global-footer .p-main-footer-about,.tbd01-genericnavigation .p-main-footer-about{text-align:center}
.p-f02-global-footer .p-main-footer-about ul,.tbd01-genericnavigation .p-main-footer-about ul{font-size:0}
.p-f02-global-footer .p-main-footer-about ul .p-always-visible,.tbd01-genericnavigation .p-main-footer-about ul .p-always-visible{display:inline-block}
.p-f02-global-footer .p-main-footer-about ul .p-always-visible.first,.tbd01-genericnavigation .p-main-footer-about ul .p-always-visible.first{border-left:none}
.p-f02-global-footer .p-main-footer-about ul li,.tbd01-genericnavigation .p-main-footer-about ul li{font-size:11px;font-size:1.1rem;padding:0 6px 0 6px;padding:0rem .6rem 0rem .6rem;margin-bottom:10px;margin-bottom:1rem;border-left:1px solid #b9bbc7;display:none;list-style:none outside none}
.p-f02-global-footer .p-main-footer-about ul li:first-child,.tbd01-genericnavigation .p-main-footer-about ul li:first-child{border-left:none}
.p-f02-global-footer .p-main-footer-about ul li a,.tbd01-genericnavigation .p-main-footer-about ul li a{font-size:11px;font-size:1.1rem;font-weight:normal}
.p-f02-global-footer .p-main-footer-about p,.tbd01-genericnavigation .p-main-footer-about p{color:#999}
.p-f02-global-footer .p-main-footer-about p small,.tbd01-genericnavigation .p-main-footer-about p small{font-size:11px;font-size:1.1rem}
.p-rtl .p-f02-global-footer .p-main-footer-language .p-link-more.p-link-more-triangle-down:after{transform:rotate(90deg);margin-right:.6rem}
.p-rtl .p-f02-global-footer .p-icon-earth{margin-right:1.8rem;margin-left:-0.2rem}
@media screen and (min-width:701px){.p-f02-global-footer .p-main-footer-about ul li,.tbd01-genericnavigation .p-main-footer-about ul li{display:inline-block}
.p-f02-global-footer .p-main-footer,.tbd01-genericnavigation .p-main-footer{padding-top:30px;padding-top:3rem}
.p-f02-global-footer .p-main-footer-about ul .p-always-visible.first,.tbd01-genericnavigation .p-main-footer-about ul .p-always-visible.first{border-left:medium none}
.p-f02-global-footer .p-main-footer-language output,.tbd01-genericnavigation .p-main-footer-language output{display:inline-block;font-size:12px;font-size:1.2rem;margin-bottom:3px;margin-bottom:.3rem;padding-right:10px;padding-right:1rem}
.p-f02-global-footer .p-main-footer-language .p-link-more,.tbd01-genericnavigation .p-main-footer-language .p-link-more{display:inline-block;font-size:12px;font-size:1.2rem;font-weight:normal}
.p-f02-global-footer .p-icon-earth,.tbd01-genericnavigation .p-icon-earth{top:0}
}


#p-footer-sweep{display:none}
.p-layout-inner-footer{background:0}
.p-footer{background:0;padding:70px 58px 69px}
.p-footer .p-grid{display:table;margin-left:0!important;position:relative;width:100%}
.p-footer .p-grid-item{background:none!important;display:table-cell;float:none;padding:0!important;width:16%}
.p-footer .p-grid-item:first-child{padding-top:50px!important;width:42%}
.p-footer .p-grid-item:last-child{color:#fff;padding-top:50px!important;text-align:right;width:42%}
.p-footer .p-ie8-grid-item{color:#fff;padding-top:50px!important;text-align:right;width:42%}
.p-rtl .p-footer .p-grid-item:last-child{text-align:left}
.p-rtl .p-footer .p-ie8-grid-item{text-align:left}
.p-footer .p-grid-item h3{color:#b3c8e6;font:14px/21px 'centrale_sans',Tahoma,sans-serif;margin-bottom:7px}
.p-footer .p-grid-item img{max-width:none}
.p-grid .p-grid-item:first-child>div{margin-left:-4px}
.gc23-smallimage{display:inline;margin:0 4px}
.gc23-smallimage a {text-decoration: none;color: #0E5FD8;font-size: 1.1rem;}
.gc23-smallimage a img{width:20px}
.par_gc04_2 .gc23-smallimage{float:none;text-align:center}
.par_gc04_2{text-align:center}
.n05-selectcountry a{color:#b3c8e6;font:14px/22px 'centrale_sans',Tahoma,sans-serif}
.p-footer-country{white-space:nowrap}
.n05-selectcountry a:hover{text-decoration:none}
.n05-selectcountry .p-footer-country-list{color:#fff;margin-left:4px;white-space:nowrap}
.n06-selectsite h3{cursor:pointer;display:inline;line-height:22px!important;padding-bottom:20px}
.n06-selectsite ul{background:#fff;display:none;margin-top:10px;padding:14px 20px;position:absolute;right:0;text-align:left;width:146px}
.p-rtl .n06-selectsite ul{left:0;right:inherit}
.n06-selectsite ul a{color:#3c3c3c;font:14px/22px 'centrale_sans',Tahoma,sans-serif}
.n06-selectsite ul a:hover{text-decoration:none}
.n06-selectsite output{color:#fff;cursor:pointer;font:14px/14px 'centrale_sans',Tahoma,sans-serif;margin-left:4px;white-space:nowrap}
.tbd01-genericnavigation{background:none!important}
.tbd01-genericnavigation a{color:#fff;font:14px/15px 'centrale_sans',Tahoma,sans-serif!important}
.tbd01-genericnavigation a:hover{text-decoration:none}
.i18-internationalizationitem{color:#b3c8e6;font:14px/14px 'centrale_sans',Tahoma,sans-serif;padding-bottom:33px;text-align:center}
@media screen and (max-width:700px){.i18-internationalizationitem{padding-bottom:53px}
.p-grid .p-grid-item:first-child>div{margin-left:0}
}

.p-gc02-container .p-wrapper{max-width:100%}


#nav .p-bar-nav{position:relative;font-size:0;height:100%;}
#nav .p-bar-nav.p-position{top:-13px}
#nav .p-bar-nav.p-position>li{padding-bottom:7px}
/*#nav .p-bar-nav:after{content:'';position:absolute;left:0;width:100%;bottom:0;height:1px;background:#fff;-moz-opacity:.2;-khtml-opacity:.2;-webkit-opacity:.2;opacity:.2;-ms-filter:alpha(opacity=20);filter:alpha(opacity=20)}*/#nav .p-bar-nav>li{display:table-cell;height:100%;color:#fff;cursor:pointer;vertical-align:middle;font-size:14px;line-height:14px;padding-bottom:16px}
#nav .p-bar-nav>li .p-padding{display:table-cell;height:100%;min-width:20px;width:40px}
#nav .p-bar-nav>li.p-last{padding-right:73px}
#nav .p-bar-nav>li span{display:table-cell;vertical-align:middle;width:100%;position: relative;top: 4px;font-size: 13px;}
#nav .p-bar-nav>li span>a{color:#fff}
#nav .p-bar-nav>li span>a:hover{text-decoration:none}
#nav .p-bar-nav>li:hover,#nav .p-bar-nav>li.p-hover{z-index:1}
#nav .p-bar-nav>li:hover .p-sub-wrapper,#nav .p-bar-nav>li.p-hover .p-sub-wrapper{display:block;z-index:2}
#nav .p-bar-nav>li:hover .p-sub-wrapper:before,#nav .p-bar-nav>li.p-hover .p-sub-wrapper:before{display:block}
#nav .p-bar-nav>li:hover .p-sub-menu,#nav .p-bar-nav>li.p-hover .p-sub-menu{min-height:inherit;max-height:1300px;display:block;box-shadow:0 3px 5px rgba(0,0,0,0.3)}
#nav .p-bar-nav>li:first-child{padding-left:15px}
#nav .p-bar-nav .p-sub-wrapper .p-sub-menu{font-family:centrale_sans_book,tahoma,arial,helvetica,sans-serif;position:absolute;max-height:0;overflow:hidden;text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;top:100%;background:url('../images/flyout-bg.png') 0 0 repeat-x;background-size:100% 100%}
#nav .p-bar-nav .p-sub-wrapper a{position:relative;display:block;font-size:12px;line-height:14px;color:#3c3c3c}
#nav .p-bar-nav .p-sub-wrapper a:hover{color:#000;text-decoration:none}
#nav .p-bar-nav .p-sub-wrapper li{padding-bottom:19px;width: 100%;height:auto;}
#nav .p-bar-nav .p-sub-wrapper li a{padding-bottom:0;}
#nav .p-bar-nav .p-sub-wrapper li.p-first-child{padding-top:13px}
#nav .p-bar-nav .p-sub-wrapper li.p-last-child{padding-bottom:13px}
#nav .p-bar-nav .p-sub-menu-single-column{position:relative;margin-right: 30px;}
#nav .p-bar-nav .p-sub-menu-single-column .p-sub-wrapper{position:relative;top:15px}
#nav .p-bar-nav .p-sub-menu-single-column .p-sub-wrapper:before{position:relative;display:inline-block;vertical-align:middle;content:'';width:0;height:0;overflow:hidden;font:0/0 serif;border-bottom:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;border-top:0;content:'';position:absolute;left:20%;top:-5px;display:none}
#nav .p-bar-nav .p-sub-menu-single-column .p-sub-menu{width:250px;left:-15px;padding-left:15px;padding-right:15px;display:none}
#nav .p-bar-nav .p-sub-menu-two-level,#nav .p-bar-nav .p-sub-menu-horizontalbar{overflow:hidden}
#nav .p-bar-nav .p-sub-menu-two-level:hover,#nav .p-bar-nav .p-sub-menu-horizontalbar:hover{overflow:visible}
#nav .p-bar-nav .p-sub-menu-two-level:hover>span:after,#nav .p-bar-nav .p-sub-menu-horizontalbar:hover>span:after{position:relative;display:inline-block;vertical-align:middle;content:'';width:0;height:0;overflow:hidden;font:0/0 serif;border-bottom:5px solid #e0e0e0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:0;display:block;content:'';left:30%;bottom:-15px;margin-top:-5px}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-wrapper,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-wrapper{position:absolute;left:0;right:0;top:100%;display:none}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu{background-color:#e0e0e0;background-image:none;top:-1px;width:100%}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3{background:url('../../philips/clientlibs/foundation-general/clientlibs-css-rb2014/images/n01-header/flyout-bg.png') 0 0 repeat-x;background-size:100% 100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:16px;height:100%}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3 ul,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3 ul{float:left}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3 ul.p-vertical-line,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3 ul.p-vertical-line{height:auto}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3 ul.p-vertical-line:last-child:after,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3 ul.p-vertical-line:last-child:after,#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3 ul.p-vertical-line.p-last-child:after,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3 ul.p-vertical-line.p-last-child:after{display:none}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3 li,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3 li{padding:0 15px 0 15px}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu-level3 li a,#nav .p-bar-nav .p-sub-menu-horizontalbar .p-sub-menu-level3 li a{display:table-cell;height:40px;vertical-align:middle}
#nav .p-bar-nav .p-sub-menu-two-level li,#nav .p-bar-nav .p-sub-menu-horizontalbar li{padding:13px 15px 13px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#nav .p-bar-nav .p-sub-menu-two-level li.p-hover .p-sub-menu-level3,#nav .p-bar-nav .p-sub-menu-horizontalbar li.p-hover .p-sub-menu-level3{display:block}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-wrapper{box-shadow:0 3px 5px rgba(0,0,0,0.3)}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu{background-color:#eceef5;box-shadow:none;position:relative;top:-1px;margin-bottom:-1px}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu.p-show-shadow{box-shadow:inset 0 -20px 10px -20px rgba(0,0,0,0.3)}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu>li{padding:0;display:table-cell;vertical-align:middle;position:relative;height:46px}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu>li span{padding:8px 15px 8px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:80px}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu>li.p-hover:before{position:relative;display:inline-block;vertical-align:middle;content:'';width:0;height:0;overflow:hidden;font:0/0 serif;border-bottom:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;border-top:0;display:block;content:'';left:30%;bottom:0;position:absolute}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu-level3{width:100%;padding-bottom:16px;position:relative}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu-level3.p-has-link-images li a{padding-left:50px}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu-level3.p-has-link-images li.p-container-has-link-image a{padding-left:10px}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu-level3.p-has-link-images .p-image{width:40px;display:table-cell;height:100%}
#nav .p-bar-nav li.p-sub-menu-horizontalbar .p-sub-menu-level3.p-has-link-images .p-image img{width:40px}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu>li.p-first-child{margin-top:16px}
#nav .p-bar-nav .p-sub-menu-two-level .p-sub-menu>li.p-last-child{margin-bottom:16px}
#nav .p-bar-nav .p-sub-menu-two-level li .p-sub-menu-level3{display:none;position:absolute;top:0}
#nav .p-bar-nav .p-sub-menu-two-level li.p-hover{background-color:#fff}
#nav .p-search{position:absolute;z-index:1;top:50%;margin-top:-18px;right:0;height:31px;-moz-opacity:.8;-khtml-opacity:.8;-webkit-opacity:.8;opacity:.8;-ms-filter:alpha(opacity=80);filter:alpha(opacity=80)}
#nav .p-search.p-position{top:18px}
#nav .p-search:hover{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100)}
#nav .p-search fieldset{float:right;width:20px}
#nav .p-search input{font-family:centrale_sans_book,tahoma,arial,helvetica,sans-serif;font-size:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:3px;float:right;width:100%;border:1px solid #cccedb;height:31px;line-height:32px;-moz-opacity:0;-khtml-opacity:0;-webkit-opacity:0;opacity:0;-ms-filter:alpha(opacity=0);filter:alpha(opacity=0);padding-left:10px;padding-right:25px;color:#b9bbc7}
#nav .p-search input::-webkit-input-placeholder{color:#3c3c3c}
#nav .p-search input:-moz-placeholder{color:#3c3c3c}
#nav .p-search input::-moz-placeholder{color:#3c3c3c}
#nav .p-search input:-ms-input-placeholder{color:#3c3c3c}
#nav .p-search input::-ms-clear{display:none}
#nav .p-search input.placeholder{color:#3c3c3c}
#nav .p-search input:focus{color:#000}
#nav .p-search button{display:block;position:absolute;top:7px;right:5px;width:16px;height:16px;background: url(../images/search_s.png) no-repeat;}