$tabletMaxWidth: 960px;
$mobileMaxWidth: 640px;
 
@mixin respond-to($media) {
	@if $media == mobile {
		@media screen and (max-width: $mobileMaxWidth) { 
			@content; 
		}
	}
	@else if $media == tablet {
		@media screen and (min-width: $mobileMaxWidth + 1) and (max-width: $tabletMaxWidth - 1) { 
			@content; 
		}
	}
	@else if $media == mix {
		@media screen and (max-width: $tabletMaxWidth - 1) { 
			@content; 
		}
	}
	@else {
		@media screen and (max-width: $media) { 
			@content; 
		}
	}
}

@font-face {
	font-family: 'centrale_sans';
	src: url('../fonts/en-US/CentraleSans-Book.eot'); /* IE9 Compat Modes */
	src: url('../fonts/en-US/CentraleSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/en-US/CentraleSans-Book.woff') format('woff'), /* Modern Browsers */
	url('../fonts/en-US/CentraleSans-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/en-US/CentraleSans-Book.svg#1d84a514a13dcf4f9de78cc3753dbf03') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
}

@font-face {
  font-family: 'centrale_sans_bold';
  src: url('../fonts/CentraleSans-Bold/CentraleSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CentraleSans-Bold/CentraleSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CentraleSans-Bold/CentraleSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/CentraleSans-Bold/CentraleSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CentraleSans-Bold/CentraleSans-Bold.svg#7aed1b68c527ea246edf61790a121845') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
	font-family: 'centrale_sans_xlight';
	src: url('../fonts/en-US/CentraleSans-XLight.eot'); /* IE9 Compat Modes */
	src: url('../fonts/en-US/CentraleSans-XLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/en-US/CentraleSans-XLight.woff') format('woff'), /* Modern Browsers */
	url('../fonts/en-US/CentraleSans-XLight.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/en-US/CentraleSans-XLight.svg#1d84a514a13dcf4f9de78cc3753dbf03') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
}

@font-face {
	font-family: 'centrale_sans_xbold';
	src: url('../fonts/CentraleSans-XBold/CentraleSans-XBold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/CentraleSans-XBold/CentraleSans-XBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/CentraleSans-XBold/CentraleSans-XBold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/CentraleSans-XBold/CentraleSans-XBold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/CentraleSans-XBold/CentraleSans-XBold.svg#9a864760680d346e5852a22d8d46f391') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  700;
}

html, body{ font-family: centrale_sans; padding:0; margin:0; min-width:0; }
body{
	&.mobileNavExpend{
		.mobileNav{ right:0; opacity: 1; }
	}
}
a{ color:#006fb6; }
.clearfix{ clear:both; }
.pull-left{ float:left; } 
.pull-right{ float:right; } 
.mainContent{ 
	width:960px; margin:0 auto; 
	@include respond-to(mix)
	{
		width: auto;
	}
}
#nav{
	margin-left: 180px;
	@include respond-to(mix)
	{
		display:none;
	}
}
#phi-header-content .title h1{ line-height: normal; }
#box-philips-logo{ 
	width:167px; height:200px; background:url(../images/philips-shape-140.png) no-repeat scroll top left; top:11px; 
	@include respond-to(mix)
	{
		background:url(../images/philips-shape-mobile.png) no-repeat scroll top left;
		background-size:contain; width:105px;
	}
}
.p-human{
	position: absolute; z-index: 1; top: 50%; margin-top: -20px; right: 67px; height: 31px;
	background-image: url(../images/ico-human.png); width:31px; background-position: center center; background-repeat: no-repeat;
}
.p-cart{
	position: absolute; z-index: 1; top: 50%; margin-top: -19px; right: 32px; height: 31px;
	background-image: url(../images/ico-cart.png); width:31px; background-position: center center; background-repeat: no-repeat;
}
#nav form.p-search{
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100);
}
.footerWrapper{ 
	margin-top:50px;
}
.languagePicker{
	position: absolute; right: 0; top: 70px; color: #3c3c3c;
	@include respond-to(mix)
	{
		right: 60px;
		top: 17px;
	}
	.selectboxit-btn { background: #FFF; }
	.selectboxit-container .selectboxit{ 
		border-radius: 2px; padding: 0 40px 0 20px; 
		@include respond-to(mix)
		{
			padding:0;
		}
	}
	.selectboxit .selectboxit-arrow-container .selectboxit-arrow{ display:none; }
	.selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled:focus, .selectboxit-btn.selectboxit-enabled:active{ background: #FFF; }
	.selectboxit-container .selectboxit-options{ border-radius: 2px; width:100%; }
	.selectboxit-arrow-container{ background-image: url(../images/language-arrow.jpg); background-repeat: no-repeat; background-position: center center; }
}
.headerWrapper{ 
	background-image: url(../images/key_visual.jpg); 
	background-repeat: no-repeat; background-position:center center;
	background-size: cover;
	margin-bottom:50px;
}
.mobileNavBtn{ 
	background-image: url(../images/ico-nav.png); background-position: center center; background-repeat: no-repeat;
	width:24px; height:24px; position:absolute; right:20px; top:20px; display:none;
}
@include respond-to(mix)
{
	.mobileHide{ display: none; }
	.mobileNavBtn{ display:block; }
	.banner-driver #phi-header-content{
		min-height:370px;
		.title{   
			left: 10%;
			top: 170px; 
			h1{ font-size:2.4em; }
			p{ font-size:18px; }
			h1, p{ padding-right: 10px; line-height: normal; }
		}
	}
	.p-footer{ 
		height:290px; 
		.p-grid {
			display: block;
		}
		.p-grid-item {
			width: 100%;
			padding: 0 !important;
			display: block;
			text-align: center;
			&:first-child {
				position: absolute;
				width: 100%;
				top: 180px;
				padding: 0 !important;
			}
			&:last-child {
				position: absolute;
				top: 270px;
				width: 100%;
				text-align: center;
				padding: 0 !important;
			}
		}
	}
}
.labelIDReport{
	color:#3c3c3c;
	@include respond-to(mix)
	{
		padding:20px;
	}
	&.invalid{
		h2{ color:#83004b; font-family: centrale_sans_xbold; }
	}
	&.valid{
		h2{ color:#1d4076; font-family: centrale_sans_xbold; }
	}
	h2{ font-size: 2em; margin-bottom:20px; }
	h3{ color:#1d4076; font-family: centrale_sans_xbold; font-size: 1.5em; margin-bottom:20px; }
	.upper{ margin-bottom:50px }
	.upper, .lower{ 
		width:570px; 
		@include respond-to(mix)
		{
			width:auto;
		}
	}
	.discover{ margin-top:74px; }
	.backBtn{ width:35px; height:35px; margin-top:40px; background-image: url(../images/btn-back.jpg); }
}

.formWrap{
	font-size:14px; color:#3c3c3c;
	.contentRight, .contentLeft{ 
		float:left; 
		@include respond-to(mix)
		{
			float:none;
		}
	}
	.contentLeft{ 
		margin-right:35px; width:550px; 
		@include respond-to(mix)
		{
			width:auto; padding:20px; margin:0;
		}
		p{ margin-bottom:35px; }
		.pull-left.qrcode{ 
			width:265px; text-align: right; 
			@include respond-to(mix)
			{ 
				width:50%; 
				img{ width:100%; }
			}
		}
		.form{ 
			padding-top: 28px;
			.submitBtn{ 
				width:87px; height:35px; margin-top:74px; cursor:pointer;
				background-image: url(../images/btn-check.jpg);
			} 
			.formRow{
				input{ 
					width:195px; height:34px; border-radius: 3px; border:1px solid #ccc; 
				}
				.label{ margin-bottom:11px; width:220px; padding-top:16px; background-color: #FFF; }
				.errorMsg{ 
					color:#F00; margin-top:25px; display:none; width:200px; 
				}
				&.sixteenDigis{ 
					padding-bottom:23px; background-position: top right;
					background-image: url(../images/1879_00_105_Counterfeit_Web_1_06.jpg);
					background-repeat: no-repeat;
				}
				&.sixChar{
					background-repeat: no-repeat;
					background-image: url(../images/captcha.jpg);
					background-position: top right;
				}
				&.hasError{
					.errorMsg{ display:block; }
					input{ background-color:#e5f0f8; border: 1px solid #F00; }
				}
			}
			@include respond-to(mobile)
			{
				.formRow{ 
					&.sixteenDigis, &.sixChar{ background-position: -110px top; }
					&.sixteenDigis{ padding-top: 100px; margin-bottom: 40px; }
					&.sixChar{ padding-top: 50px; }
					.label{ width:180px; }
				}
			}
			@include respond-to(mix)
			{ 
				padding-top: 0; max-width:520px;
				.formRow{
					.label{ margin-bottom:4px; }
				}
			}
		}
	}
	.contentRight{ 
		width:375px; overflow: hidden;
		@include respond-to(mix)
		{
			display:none;
		}
	}
}
.mobileNav{
	position:fixed; right:-100%; width:100%; height:100%; z-index:10; opacity: 0;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	.navBtn{ 
		width:10%; height:100%; background-color:rgba(0,0,0,.5); float:left; background-image: url(../images/ico-nav.png); 
		background-position: center 15px; background-repeat: no-repeat;
	}
	.bottomLogo{ margin-top:50px; text-align: center; }
	.navContent{
		width:90%; height:100%; background:#0d2d69; float:left;
		background: -webkit-linear-gradient(top left, #091d45 0%, #0b2557 50%, #0d2d69 100%);
		background: -o-linear-gradient(top left, #091d45 0%, #0b2557 50%, #0d2d69 100%);
		background: linear-gradient(to bottom right, #091d45 0%, #0b2557 50%, #0d2d69 100%);
		ul{
			li { 
				padding: 12px 0 0 0; border-bottom: 1px solid #003478; position:relative;
				&:after{ 
					content:' '; color:#FFF; position:absolute; right:5px; top:50%; width:24px; height:24px; margin-top:-12px; 
					background-image:url(../images/ico-right-arrow.png); background-repeat: no-repeat; background-position: center center;
				}
				a{ 
					margin-bottom:12px; display: block; margin-left: 20px;
					color:#FFF;
				}
			}
		}
	}
}