section
	div.page.sectorfooterpage
		footer.
			<div class="parsys sectorfooterpar">
				<section data-comp-id="gc02Container" class="p-gc02-container section">
					<div class="p-row-gutter p-comp-spacing-bottom ">
						<div class="p-wrapper p-full-bleed " data-bgimg-xs="" data-bgimg-s="" data-bgimg-m="" data-bgimg-l="" style="background: #0b2265;background: -webkit-linear-gradient(145deg, #0b2265, #0039a6); background: -o-linear-gradient(145deg, #0b2265, #0039a6);  background: -moz-linear-gradient(145deg, #0b2265, #0039a6); background: linear-gradient(145deg, #0b2265, #0039a6); ">
							<div class="p-component-wrapper full">
								<div class="parsys">
									<section data-comp-id="gc02Container" class="p-gc02-container section">
										<div class="p-row-gutter p-comp-spacing-bottom ">
											<div class="p-wrapper " data-bgimg-xs="" data-bgimg-s="" data-bgimg-m="" data-bgimg-l="" style="">
												<div class="p-component-wrapper full">
													<div class="parsys">
														<div class="section gc04-columnscontainer">
															<div class="p-layout-row p-row-gutter p-comp-spacing-bottom ">
																<div class="p-layout-inner-footer">
																	<section class="p-footer">
																		<div id="p-footer-sweep">&nbsp;</div>
																		<div class="p-grid">
																			<div class="p-grid-item p-one-whole p-m-one-third p-footer-align-middle">
																				
																				
																				<h3>Connect with Philips</h3>
																				
																				<div class="parsys par_gc04_1">
																					<div class="gc23-smallimage section">
																						
																						<a href="http://www.youtube.com/Philips" target="_blank"> <img src="http://www.philips.com/content/dam/corporate/chp-footer/chp_footer_yt.png" title="" alt="" data-track-type="track-conversion" data-track-name="interaction" data-track-description="footer_button:">
																						</a>
																						
																					</div>
																					<div class="gc23-smallimage section">
																						
																						<a href="http://twitter.com/@PhilipsJapan" target="_blank"> <img src="http://www.philips.com/content/dam/corporate/chp-footer/chp_footer_tw.png" title="" alt="" data-track-type="track-conversion" data-track-name="interaction" data-track-description="footer_button:">
																						</a>
																						
																					</div>
																					<div class="gc23-smallimage section">
																						
																						<a href="http://www.facebook.com/Philips" target="_blank"> <img src="http://www.philips.com/content/dam/corporate/chp-footer/chp_footer_fb.png" title="" alt="" data-track-type="track-conversion" data-track-name="interaction" data-track-description="footer_button:">
																						</a>
																						
																					</div>
																					<div class="gc23-smallimage section">
																						
																						<a href="http://www.pinterest.com/philipsglobal/" target="_blank"> <img src="http://www.philips.com/content/dam/corporate/chp-footer/chp_footer_pr.png" title="" alt="" data-track-type="track-conversion" data-track-name="interaction" data-track-description="footer_button:">
																						</a>
																						
																					</div>
																					<div class="gc23-smallimage section">
																						
																						<a href="https://plus.google.com/+Philips" target="_blank"> <img src="http://www.philips.com/content/dam/corporate/chp-footer/chp_footer_gp.png" title="" alt="" data-track-type="track-conversion" data-track-name="interaction" data-track-description="footer_button:">
																						</a>
																						
																					</div>
																				</div>
																			</div>
																			
																			<div class="p-grid-item p-one-whole p-m-one-third p-footer-align-middle">
																				
																				<div class="parsys par_gc04_2"><div class="gc23-smallimage section">
																					
																					<img src="../images/philips-footer-logo.png" title="" alt="">
																					
																				</div>
																			</div>
																		</div>
																		
																		<div class="p-grid-item p-one-whole p-m-one-third p-footer-align-middle">
																			
																			
																			<div class="par_gc04_3 parsys">
																				<div class="n05-selectcountry section">
																					<div style="clear:both;"></div>
																					<section class="p-main-footer-language">
																						<a class="p-body-copy-02" href="http://www.philips.com/global/country_selector.page?locale_org=ja_jp.L2NvbnRlbnQvY29tbW9uL2phX0pQL2Nyc2MvY2hwLWZvb3Rlcg.html.html" data-track-type="track-ajax" data-track-pagename="country_selector:footer:JP - 日本語" data-type="o" data-track-compid="n_05">
																							<span class="p-footer-country">Select country/language</span>
																							<span class="p-footer-country-list">
																								<output>UK - English ></output>
																							</span>
																						</a>
																					</section>
																					<div style="clear:both;"></div>
																				</div>
																				<div class="n06-selectsite section">
																					<div style="clear:both;"></div>
																					<section>
																						<h3 class="p-body-copy-02">Select site
																						<output>Consumer Products ></output>
																						</h3>
																						<ul>
																							<li class="p-always-visible">
																								<a href="http://www.philips.co.jp/c/" target="_top" title="製品情報 - 個人のお客様" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_製品情報 - 個人のお客様" data-type="o" data-track-compid="n_06">製品情報 - 個人のお客様</a>
																							</li>
																							<li>
																								<a href="http://www.healthcare.philips.com/jp_ja" target="_top" title="ヘルスケア" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_ヘルスケア" data-type="o" data-track-compid="n_06">ヘルスケア</a>
																							</li>
																							<li>
																								<a href="http://www.hmservice.philips.co.jp/" target="_top" title="フィリップス緊急通報サービス" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_フィリップス緊急通報サービス" data-type="o" data-track-compid="n_06">フィリップス緊急通報サービス</a>
																							</li>
																							<li class="p-always-visible">
																								<a href="http://www.philips.co.jp/about/company/index.page" target="_top" title="フィリップスについて" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_フィリップスについて" data-type="o" data-track-compid="n_06">フィリップスについて</a>
																							</li>
																						</ul>
																					</section>
																					<div style="clear:both;"></div>
																				</div>
																			</div>
																		</div>
																		
																	</div>
																</section>
															</div>
														</div>
														
													</div>
													<div class="tbd01-genericnavigation section">
														
														
														<section class="p-main-footer-about">
															<ul>
																<li class="p-always-visible">
																	<a href="http://www.philips.com/about/investor/index.page" target="_top" title=""> Investor Relations</a>
																</li>
																<!--<li class="p-always-visible">
																	<a href="http://www.philips.co.jp/about/careers" target="_top" title=""> Careers</a>
																</li>
																<li class="p-always-visible">
																	<a href="http://www.philips.co.jp/kaden/kaden_calls.page" target="_top" title=""> Contact Philips</a>
																</li>
																<li class="p-always-visible">
																	<a href="http://www.philips.com/cookienotice/index.page" target="_top" title=""> Cookie Notice</a>
																</li>-->
																<li class="p-always-visible">
																	<a href="http://www.philips.co.jp/privacynotice/index.page" target="_top" title=""> Privacy Notice</a>
																</li>
																<li class="p-always-visible">
																	<a href="http://www.philips.co.jp/privacynotice/index.page" target="_top" title=""> Terms of use</a>
																</li>
																<!--<li class="p-always-visible">
																	<a href="http://www.sitemap.philips.com/sitemap/jp_ja/" target="_top" title=""> Site map</a>
																</li>-->
																
															</ul>
														</section>
														
													</div>
													<div class="i18-internationalizationitem section">
														<span>© Koninklijke Philips N.V., 2004 - 2015. All rights reserved.</span>
													</div>
												</div>
											</div>
										</div>
									</div></section>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>