div#phi-header-content.
    <div class="mobileNavBtn mobileNavToggle"></div>
    <div class="languagePicker">
        <select name="language" id="languagePickerInst">
            <option value="">Language</option>
            <option value="en">English</option>
        </select>
    </div>
    <div class="title">
        <h1><%= general.headerTitle %><br /><b><%= general.headerBoldTitle %></b></h1>
    </div>