div#phi-header-content.
    <div class="mobileNavBtn mobileNavToggle"></div>
    <div class="languagePicker">
        <select name="language" id="languagePickerInst">
            <option value="">Language</option>
            <option value="en_au">English</option>
            <option value="ch_tw">繁體中文</option>
            <option value="cn">簡體中文</option>
            <option value="jp">日本語</option>
            <option value="kr">한국어</option>
            <option value="th">ไทย</option>
            <option value="vn">Tiếng Việt</option>
        </select>
    </div>
    <div class="title">
        <h1><%= general.headerTitle %><br /><b><%= general.headerBoldTitle %></b></h1>
    </div>