div#phi-header-content.
    <div class="mobileNavBtn mobileNavToggle"></div>
    <div class="languagePicker">
        <select name="language" id="languagePickerInst">
            <option value="">Language</option>
            <option value="en">English</option>
        </select>
    </div>
    <div class="title">
        <h1>Welcome to Philips<br />product authenticity</h1>
    </div>
    <a id="box-philips-logo" href="//www.philips.co.jp">
    </a>
    <span id="phi-btn-nav1" class="phi-btn-nav"> </span>
    <div id="nav">
        <span id="phi-btn-nav2" class="phi-btn-nav"> </span>
        <ul class="p-bar-nav">
            <li class="p-sub-menu-single-column">
                <span>Products</span>
                <div class="p-sub-wrapper">
                    <ul class="p-sub-menu">
                        <li class="p-first-child" data-flyout-drop-down-link="level1-1-level2-1">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/c/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:c:">家電製品一覧</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-1-level2-2">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/aed/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:aed:index.page">AED/一般のお客様</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-1-level2-3">
                            <span>
                                <a target="_top" href="http://www.hmservice.philips.co.jp/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.hmservice.philips.co.jp:">フィリップス緊急通報サービス</a>
                            </span>
                        </li>
                        <li class="p-last-child" data-flyout-drop-down-link="level1-1-level2-4">
                            <span>
                                <a target="_top" href="http://www.carlight.philips.co.jp/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.carlight.philips.co.jp:">自動車関連製品</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-sub-menu-single-column">
                <span>Shops</span>
                <div class="p-sub-wrapper">
                    <ul class="p-sub-menu">
                        <li class="p-first-child" data-flyout-drop-down-link="level1-2-level2-1">
                            <span>
                                <a target="_top" href="http://www.healthcare.philips.com/jp_ja" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.healthcare.philips.com:jp_ja">ヘルスケア</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-2-level2-2">
                            <span>
                                <a target="_top" href="http://www.respironics.philips.co.jp/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.respironics.philips.co.jp:">フィリップス・レスピロにクス</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-2-level2-3">
                            <span>
                                <a target="_top" href="http://www.hmservice.philips.co.jp/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.hmservice.philips.co.jp:">フィリップス緊急通報サービス</a>
                            </span>
                        </li>
                        <li class="p-last-child" data-flyout-drop-down-link="level1-2-level2-4">
                            <span>
                                <a target="_top" href="http://www.lighting.philips.co.jp/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.lighting.philips.co.jp:">ライティング</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-sub-menu-single-column">
                <span>Support</span>
                <div class="p-sub-wrapper">
                    <ul class="p-sub-menu">
                        <li class="p-first-child" data-flyout-drop-down-link="level1-3-level2-1">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/company/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:company:index.page">企業情報</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-2">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/design/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:design:index.page">デザイン</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-3">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/research/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:research:index.page">研究</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-4">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/sustainability/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:sustainability:index.page">サステイナビリティ</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-5">
                            <span>
                                <a target="_top" href="http://www.newscenter.philips.com/jp_ja" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.newscenter.philips.com:jp_ja">ニュースセンター</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-6">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/campaign/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:campaign:index.page">キャンペーン</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-7">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/because/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:because:index.page">Health &amp; well-being</a>
                            </span>
                        </li>
                        <li class="" data-flyout-drop-down-link="level1-3-level2-8">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/investor" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:investor">投資家情報（英文）</a>
                            </span>
                        </li>
                        <li class="p-last-child" data-flyout-drop-down-link="level1-3-level2-9">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/about/careers/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:about:careers:index.page">採用情報</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-sub-menu-single-column">
                <span>
                    <a target="_top" href="http://www.newscenter.philips.com/jp_ja/index.wpd" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.newscenter.philips.com:jp_ja:index.wpd">
                        Experience
                    </a>
                </span>
                <div class="p-sub-wrapper">
                    <ul class="p-sub-menu">
                        <li class="p-first-child" data-flyout-drop-down-link="level1-5-level2-1">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/kaden/kaden_calls.page?userLanguage=ja&amp;userCountry=jp" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:kaden:kaden_calls.page?userlanguage=ja&amp;usercountry=jp">お問い合わせー個人のお客様</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-sub-menu-single-column">
                <span>
                    Promotions
                </span>
                <div class="p-sub-wrapper">
                    <ul class="p-sub-menu">
                        <li class="p-first-child" data-flyout-drop-down-link="level1-5-level2-1">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/kaden/kaden_calls.page?userLanguage=ja&amp;userCountry=jp" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:kaden:kaden_calls.page?userlanguage=ja&amp;usercountry=jp">お問い合わせー個人のお客様</a>
                            </span>
                        </li>
                        <li class="p-last-child" data-flyout-drop-down-link="level1-5-level2-2">
                            <span>
                                <a target="_top" href="http://www3.medical.philips.com/en-us/contact_us/jp_feedback_detail.asp" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www3.medical.philips.com:en-us:contact_us:jp_feedback_detail.asp">お問い合わせーヘルスケア</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-sub-menu-single-column">
                <span>
                    <a target="_top" href="http://www.newscenter.philips.com/jp_ja/index.wpd" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.newscenter.philips.com:jp_ja:index.wpd">
                        Register product
                    </a>
                </span>
                <div class="p-sub-wrapper">
                    <ul class="p-sub-menu">
                        <li class="p-first-child" data-flyout-drop-down-link="level1-5-level2-1">
                            <span>
                                <a target="_top" href="http://www.philips.co.jp/kaden/kaden_calls.page?userLanguage=ja&amp;userCountry=jp" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.co.jp:kaden:kaden_calls.page?userlanguage=ja&amp;usercountry=jp">お問い合わせー個人のお客様</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="p-human"></div>
        <div class="p-cart"></div>
        <form style="margin-right: 0px;" class="p-search" action="http://www.philips.com/search/search">
            <fieldset>
                <input name="language" value="ja" type="hidden">
                <input name="country" value="jp" type="hidden">
                <input name="s" value="corporate" type="hidden">
                <input name="sid" value="url(../images/philips-shape-140.png) no-repeat scroll top lefter" type="hidden">
                <input name="q" autocomplete="off" placeholder="何をお探しですか？" type="text">
                <button type="submit"></button>
            </fieldset>
        </form>
        <br class="clearfix"/>
    </div>
