div.mobileNav
	div.navBtn.mobileNavToggle
	div.navContent
		<%= general.mobileNav %>
		//- ul
		//- 	li 
		//- 		a(href="#") Products
		//- 	li 
		//- 		a(href="#") Shops
		//- 	li 
		//- 		a(href="#") Support
		//- 	li 
		//- 		a(href="#") Experience
		//- 	li 
		//- 		a(href="#") Promotions
		//- 	li 
		//- 		a(href="#") Register product
		div.bottomLogo
			img(src='../images/philips-footer-logo.png')
	div.clearfix