div.n01-header.parbase.navigation.
    <header class="p-n01-header" data-comp-id="n01Header" style="margin-bottom: 0px;">
        <div class="p-shadow-overlay"></div>
        <div class="p-shadow-overlay-ie"></div>
        <div class="p-logo-wrapper">
            <div class="p-logo">
                
                
                
                
                
                
                
                
                
                <a class="p-refresh " href="" target="" title="" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="" data-track-navdest="">
                    
                </a>
                
                
                
                
                
                
                
                
                
                
                
                
                <a href="http://www.philips.com/global/country_selector.page?locale_org=en_hk" target="" title="" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="" data-track-navdest="http:::www.philips.com:global:country_selector.page?locale_org=en_hk">
                    <span class="p-workmark-title p-default">Hong Kong</span>
                </a>
                
                
                
                
            </div>
        </div>
        <div class="p-topbar">
            <div class="p-bar-wrapper">
                
                <ul class="p-bar-nav">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <li class="p-sub-menu-single-column">
                        <span>
                            
                            For consumers
                            
                        </span>
                        <div class="p-padding"></div>
                        <div class="p-sub-wrapper">
                            <ul class="p-sub-menu">
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="p-first-child" data-flyout-drop-down-link="level1-1-level2-1">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="/en/c-m/consumer-products" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest=":en:c-m:consumer-products">Products</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-1-level2-2">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="/en/c-m/consumer-support" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest=":en:c-m:consumer-support">Support</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-1-level2-3">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/e/promo/en/promotions.html" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:e:promo:en:promotions.html">Promotions</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="p-last-child" data-flyout-drop-down-link="level1-1-level2-4">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="https://secure.philips.com.hk/myphilips/landing.jsp?country=HK&amp;language=en&amp;catalogType=CONSUMER" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="https:::secure.philips.com.hk:myphilips:landing.jsp?country=hk&amp;language=en&amp;catalogtype=consumer">My Philips</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                            
                            
                            
                        </div>
                    </li>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <li class="p-sub-menu-single-column">
                        <span>
                            
                            For professionals
                            
                        </span>
                        <div class="p-padding"></div>
                        <div class="p-sub-wrapper">
                            <ul class="p-sub-menu">
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="p-first-child" data-flyout-drop-down-link="level1-2-level2-1">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/healthcare" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:healthcare">Healthcare</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-2-level2-2">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.lighting.philips.com.hk/en/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.lighting.philips.com.hk:en:">Lighting</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-2-level2-3">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/Professional_display_solutions.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:professional_display_solutions.page">Professional Display Solutions</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-2-level2-4">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com/dictation" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com:dictation">Professional Dictation Solutions</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="p-last-child" data-flyout-drop-down-link="level1-2-level2-5">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com/content/corporate/en_AA/rewards-programs/our-solutions.html" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest=":content:corporate:en_aa:rewards-programs:our-solutions.html">B2B rewards programs solution</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                            
                            
                            
                        </div>
                    </li>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <li class="p-sub-menu-single-column">
                        <span>
                            
                            About Philips
                            
                        </span>
                        <div class="p-padding"></div>
                        <div class="p-sub-wrapper">
                            <ul class="p-sub-menu">
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="p-first-child" data-flyout-drop-down-link="level1-3-level2-1">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/company/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:company:index.page">Company profile</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-3-level2-2">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/design/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:design:index.page">Design</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-3-level2-3">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/research/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:research:index.page">Research</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-3-level2-4">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/sustainability/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:sustainability:index.page">Sustainability</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-3-level2-5">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.newscenter.philips.com/" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.newscenter.philips.com:">News center</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-3-level2-6">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/investor/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:investor:index.page">Investor relations</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="" data-flyout-drop-down-link="level1-3-level2-7">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/careers/index.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:careers:index.page">Careers</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li class="p-last-child" data-flyout-drop-down-link="level1-3-level2-8">
                                    <span>
                                        
                                        
                                        
                                        
                                        <a target="_top" href="http://www.philips.com.hk/about/companycontacts/contacts.page" data-track-type="track-nav-nena" data-track-compid="n01" data-track-navid="text" data-track-navdest="http:::www.philips.com.hk:about:companycontacts:contacts.page">Company Contacts</a>
                                    </span>
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                            
                            
                            
                        </div>
                    </li>
                    
                </ul>
                
                
                
                
                
                
                <span class="p-small-nav"></span>
                <form class="p-search" action="http://www.philips.com/search/search" style="margin-right: 0px;">
                    <fieldset>
                        <input type="hidden" name="language" value="en">
                        <input type="hidden" name="country" value="hk">
                        <input type="hidden" name="s" value="corporate">
                        <input type="hidden" name="sid" value="header">
                        
                        
                        
                        
                        <input type="text" name="q" autocomplete="off" placeholder="What are you looking for?">
                        <button type="submit"></button>
                    </fieldset>
                </form><div class="p-header-icons">
                
                <div class="parsys icon-parsys"></div>
            </div></div>
            <div class="p-breadcrumb-container">
                
                <div class="parsys breadcrumb-parsys"></div>
            </div>
        </div>
        <span class="p-left-bar"></span>
        <nav class="p-sidebar p-hidden">
            <div class="p-nav-wrapper">
                <div class="p-search-bar"></div>
                <div class="p-language"></div>
                <ul class="p-category-nav">
                    
                    <li class="p-toggler">
                        
                        <div class="p-title">
                            <span>For consumers</span>
                        </div>
                        
                        <ul class="p-sub">
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="/en/c-m/consumer-products" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Products" data-track-navdest=":en:c-m:consumer-products">
                                    <span>Products</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="/en/c-m/consumer-support" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Support" data-track-navdest=":en:c-m:consumer-support">
                                    <span>Support</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/e/promo/en/promotions.html" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Promotions" data-track-navdest="http:::www.philips.com.hk:e:promo:en:promotions.html">
                                    <span>Promotions</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="https://secure.philips.com.hk/myphilips/landing.jsp?country=HK&amp;language=en&amp;catalogType=CONSUMER" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="My Philips" data-track-navdest="https:::secure.philips.com.hk:myphilips:landing.jsp?country=hk&amp;language=en&amp;catalogtype=consumer">
                                    <span>My Philips</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="p-toggler">
                        
                        <div class="p-title">
                            <span>For professionals</span>
                        </div>
                        
                        <ul class="p-sub">
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/healthcare" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Healthcare" data-track-navdest="http:::www.philips.com.hk:healthcare">
                                    <span>Healthcare</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.lighting.philips.com.hk/en/" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Lighting" data-track-navdest="http:::www.lighting.philips.com.hk:en:">
                                    <span>Lighting</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/Professional_display_solutions.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Professional Display Solutions" data-track-navdest="http:::www.philips.com.hk:professional_display_solutions.page">
                                    <span>Professional Display Solutions</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com/dictation" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Professional Dictation Solutions" data-track-navdest="http:::www.philips.com:dictation">
                                    <span>Professional Dictation Solutions</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com/content/corporate/en_AA/rewards-programs/our-solutions.html" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="B2B rewards programs solution" data-track-navdest=":content:corporate:en_aa:rewards-programs:our-solutions.html">
                                    <span>B2B rewards programs solution</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="p-toggler">
                        
                        <div class="p-title">
                            <span>About Philips</span>
                        </div>
                        
                        <ul class="p-sub">
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/company/index.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Company profile" data-track-navdest="http:::www.philips.com.hk:about:company:index.page">
                                    <span>Company profile</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/design/index.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Design" data-track-navdest="http:::www.philips.com.hk:about:design:index.page">
                                    <span>Design</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/research/index.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Research" data-track-navdest="http:::www.philips.com.hk:about:research:index.page">
                                    <span>Research</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/sustainability/index.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Sustainability" data-track-navdest="http:::www.philips.com.hk:about:sustainability:index.page">
                                    <span>Sustainability</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.newscenter.philips.com/" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="News center" data-track-navdest="http:::www.newscenter.philips.com:">
                                    <span>News center</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/investor/index.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Investor relations" data-track-navdest="http:::www.philips.com.hk:about:investor:index.page">
                                    <span>Investor relations</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/careers/index.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Careers" data-track-navdest="http:::www.philips.com.hk:about:careers:index.page">
                                    <span>Careers</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                
                                
                                <a target="_top" href="http://www.philips.com.hk/about/companycontacts/contacts.page" data-track-type="track-nav-content" data-track-compid="n01" data-track-navid="Company Contacts" data-track-navdest="http:::www.philips.com.hk:about:companycontacts:contacts.page">
                                    <span>Company Contacts</span>
                                </a>
                                
                                
                                <ul class="p-sub-menu-level3 p-sub">
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>