@font-face {
  font-family: 'CentraleSans XThin';
  src: url('CentraleSans-XThin.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-XThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-XThin.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-XThin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-XThin.svg#6249393d0e2fa98463a1576bfb5a98dc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

