@font-face {
  font-family: 'CentraleSans Hairline';
  src: url('CentraleSans-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-HairlineItalic.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-HairlineItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-HairlineItalic.svg#4d2f53df18bb5b2094d87985d0e83b1f') format('svg'); /* Legacy iOS */
       
  font-style:   cursive;
  font-weight:  400;
}

