@font-face {
  font-family: 'CentraleSans Book';
  src: url('CentraleSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-Bold.svg#7aed1b68c527ea246edf61790a121845') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

