@font-face {
  font-family: 'CentraleSans Book';
  src: url('CentraleSans-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-BookItalic.svg#d6af579292c57141dd4d73bd8e7332f1') format('svg'); /* Legacy iOS */
       
  font-style:   cursive;
  font-weight:  400;
}

