extends ./layout/base.jade

block content
	div.labelIDReport.valid
		div.upper
			h2 <%= duplicate.h2Title %>
			p <%= duplicate.labelIsValid %>
				b <%= duplicate.labelIsValidBold %>
			br
			p <%= duplicate.labelIsValidDetail %>

		div.lower
			h3 <%= duplicate.emailTitle %>
			p <%= duplicate.authentic %>
				br 
				| <%= duplicate.pleaseEmail %>
				a(href="mailto:autolighting.asia@philips.com") <%= duplicate.emailAddress %>
				| <%= duplicate.emailAfter %>
				
			p.discover <%= duplicate.discoverMore %>
				br
				a(href="http://www.philips.com/automotive") <%= duplicate.discoverURL %>
		a(href="index.html")
			div.backBtn