extends ./layout/base.jade

block content
	div.formWrap
		div.contentLeft
			div.upper
				p <%= index.p1 %>
				p <%= index.p2 %>
				p <%= index.p3 %>
				//- p Therefore, please make sure that you only use genuine Philips products that carry the authenticity label. 
				br
				br
				p 
					b <%= index.p_url %>
			div.lower
				div.form
					div.sixteenDigis.formRow.hasError
						div.label <%= index.formEnterDigi %>
						div.textInput
							input(type="text")
							div.errorMsg <%= index.formSixteenDigiErrorMsg %>
					div.sixChar.formRow.hasError
						div.label <%= index.formEnterFromImage %>
						div.textInput
							input(type="text")
							div.errorMsg <%= index.formErrorMsg %>

					button.submitBtn <%= general.check %>
		div.contentRight
			img(src="../images/1879_00_105_Counterfeit_Web_1_03.jpg")
			
		
		div.clearfix