extends ./layout/base.jade

block content
	div.formWrap
		div.contentLeft
			div.upper
				p It is always our highest priority at Philips to provide maximum satisfaction for customers who make the choice to buy genuine Philips products. 
				p To guarantee the authenticity of Philips products, it is our policy to sell products in genuine printed boxes that bear our Philips Corporate identity. Furthermore we have decided to equip our genuine packaging with authenticity label.
				p By entering the provided label ID, our partners and consumers can check the product authenticity at any time on the Philips product authenticity platform. Using non genuine Lamps is dangerous.
				p Therefore, please make sure that you only use genuine Philips products that carry the authenticity label. 
				p To ensure the authenticity of your Philips lamp, please enter the ID as indicated on the packaging sticker.
			div.lower
				div.form
					div.sixteenDigis.formRow
						div.label Please enter the 16 digits from the label
						div.textInput
							input(type="text")
							div.errorMsg
					div.sixChar.formRow.hasError
						div.label Please enter the 6 characters from the image
						div.textInput
							input(type="text")
							div.errorMsg Re-enter the 6 characters from the image

					div.submitBtn
		div.contentRight
			img(src="images/1879_00_105_Counterfeit_Web_1_03.jpg")
			
		
		div.clearfix