extends ./layout/base.jade

block content
	div.labelIDReport
		div.upper
			h2 Label ID is invalid
			p Label ID is invalid, 
				strong there is a high likelihood that your product is fake. Please contact your local shop or garage to get a genuine product.
			p Please key in CODE again to ensure correct entry. Further rejection of correct code entry may indicate this product is counterfeit.

		div.lower
			h3 E-Mail contact
			p If you may have some doubts whether your Philips product is authentic, please send us an email at 
				a(href="mailto:autolighting.asia@philips.com") autolighting.asia@philips.com
			p.discover Discover more about Philips Automotive Lighting products: 
				a(href="http://www.philips.com/automotive") www.philips.com/automotive
		div.backBtn