extends ./layout/base.jade

block content
	div.labelIDReport.invalid
		div.upper
			h2 <%= invalid.h2Title %>
			p <%= invalid.labelIsInvalid %>
				b <%= invalid.labelIsInvalidBold %>
				br.mobileHide
				b <%= invalid.pleaseContact %>
			br
			p <%= invalid.pleaseKeyIn %>

		div.lower
			h3 <%= invalid.emailTitle %>
			p <%= invalid.authentic %>
				br.mobileHide
				| <%= invalid.pleaseEmail %>
				a(href="mailto:autolighting.asia@philips.com") <%= invalid.emailAddress %>
				| <%= invalid.emailAfter %>
			//- p.discover Discover more about Philips Automotive Lighting products: 
			//- 	br
			//- 	a(href="http://www.philips.com/automotive") www.philips.com/automotive
		a(href="index.html")
			div.backBtn