extends ./layout/base.jade

block content
	h2 Label ID is invalid
	p Lorem ipsum In quis ex, 
		b ullamco ex officia elit proident irure non tempor ea.
	p Lorem ipsum Nulla nisi irure sint sint tempor esse non in esse Excepteur exercitation proident pariatur quis commodo dolor.


	h3 E-Mail contact
	p Lorem ipsum Dolor est fugiat ea ex occaecat elit do sint nostrud magna in Duis irure amet dolore commodo eu 
		a(href='#') autolighting.asia@philips.com
		| .