extends ./layout/base.jade

block content
	div.labelIDReport.invalid
		div.upper
			h2 Label ID is invalid
			p Label ID is invalid, there is a highly probable that your product is fake. Please contact your local shop to get a genuine product.
			p Please key in CODE again to ensure correct entry. Further rejection of correct code entry may indicate that the product is counterfeit.

		div.lower
			h3 E-Mail contact
			p If you have any doubts whether your Philips product is authentic,  
				br 
				| please email to
				a(href="mailto:autolighting.asia@philips.com") autolighting.asia@philips.com

			//- p.discover Discover more about Philips Automotive Lighting products: 
			//- 	br
			//- 	a(href="http://www.philips.com/automotive") www.philips.com/automotive
		div.backBtn