extends ./layout/base.jade

block content
	div.labelIDReport.valid
		div.upper
			h2 <%= valid.h2Title %>
			p <%= valid.labelIsValid %>
				b <%= valid.labelIsValidBold %>

		div.lower
			h3 <%= valid.emailTitle %>
			p <%= valid.authentic %>
				br.mobileHide
				| <%= valid.pleaseEmail %>
				a(href="mailto:autolighting.asia@philips.com") <%= valid.emailAddress %>
				| <%= valid.emailAfter %>
				
			p.discover <%= valid.discoverMore %>
				br
				a(href="http://www.philips.com/automotive") <%= valid.discoverURL %>
		a(href="index.html")
			div.backBtn