@font-face {
  font-family: 'CentraleSans Medium';
  src: url('CentraleSans-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-MediumItalic.svg#2e0966e06b18b0eaf7b97cfa6909a0f1') format('svg'); /* Legacy iOS */
       
  font-style:   cursive;
  font-weight:  400;
}

