@font-face {
  font-family: 'CentraleSans Thin';
  src: url('CentraleSans-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-ThinItalic.svg#b4442d5a0271a1a31bc43d121e5171e6') format('svg'); /* Legacy iOS */
       
  font-style:   cursive;
  font-weight:  200;
}

