<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= general.pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- build:css(.) ../styles/vender.css-->
    <link rel="stylesheet" href="bower_components/jquery-selectboxit/src/stylesheets/jquery.selectBoxIt.css">
    <!-- endbuild-->
    <!-- build:css(.tmp) ../styles/main.css-->
    <link rel="stylesheet" href="styles/clientlibs.min.1429175475507.css">
    <link rel="stylesheet" href="styles/led_vision.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild-->
  </head>
  <body><%= general.header %>
    <div id="phi-header" class="banner-driver">
      <div class="mobileNav">
        <div class="navBtn mobileNavToggle"></div>
        <div class="navContent">
          <ul>
            <li> <a href="#">Products</a></li>
            <li> <a href="#">Shops</a></li>
            <li> <a href="#">Support</a></li>
            <li> <a href="#">Experience</a></li>
            <li> <a href="#">Promotions</a></li>
            <li> <a href="#">Register product</a></li>
          </ul>
          <div class="bottomLogo"><img src="../images/philips-footer-logo.png"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="headerWrapper">
        <div id="phi-header-content">
          <div class="mobileNavBtn mobileNavToggle"></div>
          <div class="languagePicker">
              <select name="language" id="languagePickerInst">
                  <option value="">Language</option>
                  <option value="en">English</option>
              </select>
          </div>
          <div class="title">
              <h1><%= general.headerTitle %><br /><b><%= general.headerBoldTitle %></b></h1>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="heroImage">
        </div>
        <div class="mainContent">
          <div class="labelIDReport invalid">
            <div class="upper">
              <h2><%= invalid.h2Title %></h2>
              <p><%= invalid.labelIsInvalid %><b><%= invalid.labelIsInvalidBold %></b><br class="mobileHide"><b><%= invalid.pleaseContact %></b></p><br>
              <p><%= invalid.pleaseKeyIn %></p>
            </div>
            <div class="lower">
              <h3><%= invalid.emailTitle %></h3>
              <p><%= invalid.authentic %><br class="mobileHide"><%= invalid.pleaseEmail %><a href="mailto:autolighting.asia@philips.com"><%= invalid.emailAddress %></a><%= invalid.emailAfter %></p>
            </div><a href="index.html">
              <div class="backBtn"></div></a>
          </div>
        </div>
      </div>
      <div class="footerWrapper"><%= general.footer %></div>
    </div>
    <!-- build:js(.) ../scripts/vendor.js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-selectboxit/libs/jqueryUI/jquery-ui.js"></script>
    <script src="bower_components/jquery-selectboxit/src/javascripts/jquery.selectBoxIt.min.js"></script>
    <!-- endbuild-->
    <script>
      if('<%= general.lang %>' === 'jp'){
      	$('body').addClass('jp');
      }
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X');ga('send','pageview');
      
    </script>
    <!-- build:js({app,.tmp}) ../scripts/main.js-->
    <script src="scripts/main.js"></script>
    <!-- endbuild-->
  </body>
</html>