@font-face {
  font-family: 'CentraleSans XThin';
  src: url('CentraleSans-XThinItalic.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-XThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-XThinItalic.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-XThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-XThinItalic.svg#1c655fab601ffc026afa8f553e514127') format('svg'); /* Legacy iOS */
       
  font-style:   cursive;
  font-weight:  200;
}

