@font-face {
  font-family: 'CentraleSans Book';
  src: url('CentraleSans-Book.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-Book.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-Book.svg#1d84a514a13dcf4f9de78cc3753dbf03') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

