@font-face {
  font-family: 'CentraleSans XLight';
  src: url('CentraleSans-XLight.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-XLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-XLight.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-XLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-XLight.svg#0776b0bc35c0190bb9f39c287b0e6737') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

