@font-face {
  font-family: 'CentraleSans Thin';
  src: url('CentraleSans-Thin.eot'); /* IE9 Compat Modes */
  src: url('CentraleSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CentraleSans-Thin.woff') format('woff'), /* Modern Browsers */
       url('CentraleSans-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CentraleSans-Thin.svg#1231844b5cf0b94274c7dceb758a518f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

